{% assign splitter = '###' %}
{% assign current_u_size_category = product.metafields.custom.universal_sizeguide_category.value %}
{% assign category_list = 'Occasionwear + Sets — Tops' | append: splitter 
  | append: 'Occasionwear + Sets — Bottoms' | append: splitter 
  | append: 'Occasionwear + Sets — Dresses + Jumpsuits' | append: splitter 
  | append: 'Athleisure' | append: splitter 
  | append: 'Swim' | append: splitter 
  | append: 'Sweaters + Sweatshirts' | append: splitter 
  | append: 'Tops' | append: splitter
  | append: 'Bottoms' | append: splitter 
  | split: splitter %}
<div class="product-size-guide g-flex g-vertical">
<div class="size-guide-overlay"></div>
<div class="size-guide-content">
  <button 
    type="button"
    class="size-guide-close comp-close" 
    aria-label="Close size guide">
    <svg class="svg-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.85 14.85"><g><path d="M6.72 7.42L0 14.14l.71.71 6.71-6.72 6.72 6.72.71-.71-6.72-6.72L14.85.71 14.14 0 7.42 6.72.71 0 0 .71z" fill="currentColor" fill-rule="evenodd"/></g></svg>
  </button>

  <div class="size-guide-header">
    <h2 class="t-h-5">Size Guide</h2>
    <p>The sizing you see on our models and product imagery will always be included in the product description. Sizing can vary from garment design, fabric, and structure, so use this chart as a general guide to find the best size for you. <a href="mailto:contact@yllwthelabel.com">Our customer love team</a> is here to answer any additional sizing questions that you may have while making a purchase!</p>
  </div>

  <div class="size-content g-flex">
      {% if product.metafields.custom.universal_sizeguide_category != blank %}
        <span class="size-guide-chart" data-value="{{ product.metafields.custom_fields["universal_sizeguide_category"] | downcase | remove:" " | replace: "—", "-"}}"></span>
      {% endif %}

      <div>
        <div class="content-block">
          <label 
            for="size-guide-fit-selector"
            class="screen-reader-only">
            Select your fit</label>

          <div class="field">
            <select id="size-guide-fit-selector">
              {% for category in category_list %}
                <option 
                  value="{{ category }}"
                  {% if current_u_size_category contains category %} selected{% endif %}>
                {{ category }}</option>
              {% endfor %}
            </select>
          </div>

          {% for category in category_list %}
            <div
              class="fit-description cr-subdued {% if current_u_size_category contains category %} active{% elsif current_u_size_category == nil and forloop.index == 1 %}active{% endif %}"
              data-fit="{{ category }}">
            {% case category %}
              {% when 'Occasionwear + Sets — Tops' %}
                <div class="size-chart-table">
                  <table class="t-caption">
                    <thead>
                      <tr>
                        <th colspan="3">Sizes</th>
                        <th>US/CAN</th>
                        <th>BUST</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>XS</td>
                        <td>0-2</td>
                        <td>31"-32"</td>
                      </tr>
                      <tr>
                        <td>S</td>
                        <td>2-4</td>
                        <td>33"-34"</td>
                      </tr>
                      <tr>
                        <td>M</td>
                        <td>6-8</td>
                        <td>35"-36"</td>
                      </tr>
                      <tr>
                        <td>L</td>
                        <td>10-12</td>
                        <td>36"-37"</td>
                      </tr>
                      <tr>
                        <td>XL</td>
                        <td>14-16</td>
                        <td>37"-38"</td>
                      </tr>
                      <tr>
                        <td>XXL</td>
                        <td>16-18</td>
                        <td>38"-39"</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              {% when 'Occasionwear + Sets — Bottoms' %}
                <p><strong>Fit: true to size</strong></p>
                <div class="size-chart-table">
                  <table class="t-caption">
                    <thead>
                      <tr>
                        <th colspan="3">Sizes</th>
                        <th>US/CAN</th>
                        <th>WAIST</th>
                        <th>PANT INSEAM</th>
                        <th>HIPS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>XS</td>
                        <td>0-2</td>
                        <td>24"</td>
                        <td>29"-30"</td>
                        <td>34"-35"</td>
                      </tr>
                      <tr>
                        <td>S</td>
                        <td>2-4</td>
                        <td>25"-26"</td>
                        <td>30"-31"</td>
                        <td>36"-37"</td>
                      </tr>
                      <tr>
                        <td>M</td>
                        <td>6-8</td>
                        <td>26"-27"</td>
                        <td>31"-31.25"</td>
                        <td>38"-39"</td>
                      </tr>
                      <tr>
                        <td>L</td>
                        <td>10-12</td>
                        <td>28"-30"</td>
                        <td>31.25"-31.5"</td>
                        <td>39"-40"</td>
                      </tr>
                      <tr>
                        <td>XL</td>
                        <td>14-16</td>
                        <td>30"-32"</td>
                        <td>31.5"-32"</td>
                        <td>41"-42"</td>
                      </tr>
                      <tr>
                        <td>XXL</td>
                        <td>16-18</td>
                        <td>33"-34"</td>
                        <td>32"</td>
                        <td>42"-43"</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              {% when 'Occasionwear + Sets — Dresses + Jumpsuits' %}
                <div class="size-chart-table">
                  <table class="t-caption">
                    <thead>
                      <tr>
                        <th colspan="3">Sizes</th>
                        <th>US/CAN</th>
                        <th>BUST</th>
                        <th>WAIST</th>
                        <th>PANT INSEAM</th>
                        <th>HIPS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>XS</td>
                        <td>0-2</td>
                        <td>31"-32"</td>
                        <td>24"</td>
                        <td>29"-30"</td>
                        <td>34"-35"</td>
                      </tr>
                      <tr>
                        <td>S</td>
                        <td>2-4</td>
                        <td>33"-34"</td>
                        <td>25"-26"</td>
                        <td>30"-31"</td>
                        <td>36"-37"</td>
                      </tr>
                      <tr>
                        <td>M</td>
                        <td>6-8</td>
                        <td>35"-36"</td>
                        <td>26"-27"</td>
                        <td>31"-31.25"</td>
                        <td>38"-39"</td>
                      </tr>
                      <tr>
                        <td>L</td>
                        <td>10-12</td>
                        <td>36"-37"</td>
                        <td>28"-30"</td>
                        <td>31.25"-31.5"</td>
                        <td>39"-40"</td>
                      </tr>
                      <tr>
                        <td>XL</td>
                        <td>14-16</td>
                        <td>37"-38"</td>
                        <td>30"-32"</td>
                        <td>31.5"-32"</td>
                        <td>41"-42"</td>
                      </tr>
                      <tr>
                        <td>XXL</td>
                        <td>16-18</td>
                        <td>38"-39"</td>
                        <td>33"-34"</td>
                        <td>32"</td>
                        <td>42"-43"</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              {% when 'Athleisure' %}
                <p><strong>Fit: if between sizes, we recommend sizing up</strong></p>
                <div class="size-chart-table">
                  <table class="t-caption">
                    <thead>
                      <tr>
                        <th colspan="3">Sizes</th>
                        <th>US/CAN</th>
                        <th>BUST</th>
                        <th>WAIST</th>
                        <th>PANT INSEAM</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>XS</td>
                        <td>0-2</td>
                        <td>30"-31"</td>
                        <td>24"</td>
                        <td>28"</td>
                      </tr>
                      <tr>
                        <td>S</td>
                        <td>2-4</td>
                        <td>31"-32"</td>
                        <td>25"-26"</td>
                        <td>29"-30"</td>
                      </tr>
                      <tr>
                        <td>M</td>
                        <td>6-8</td>
                        <td>34"-35"</td>
                        <td>26"-27"</td>
                        <td>30"-31"</td>
                      </tr>
                      <tr>
                        <td>L</td>
                        <td>10-12</td>
                        <td>35"-36"</td>
                        <td>28"-29"</td>
                        <td>31"-31.5"</td>
                      </tr>
                      <tr>
                        <td>XL</td>
                        <td>14-16</td>
                        <td>37"-38"</td>
                        <td>30"-32"</td>
                        <td>31.5"-32"</td>
                      </tr>
                      <tr>
                        <td>XXL</td>
                        <td>16-18</td>
                        <td>39"-40"</td>
                        <td>33"-35"</td>
                        <td>32"</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              {% when 'Swim' %}
                <p><strong>Fit: if between sizes, we recommend sizing up</strong></p>
                <div class="size-chart-table">
                  <table class="t-caption">
                    <thead>
                      <tr>
                        <th colspan="3">Sizes</th>
                        <th>US/CAN</th>
                        <th>BUST</th>
                        <th>WAIST</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>XS</td>
                        <td>0-2</td>
                        <td>31"-32"</td>
                        <td>24"</td>
                      </tr>
                      <tr>
                        <td>S</td>
                        <td>2-4</td>
                        <td>33"-34"</td>
                        <td>25"-26"</td>
                      </tr>
                      <tr>
                        <td>M</td>
                        <td>6-8</td>
                        <td>35"-36"</td>
                        <td>27"-28"</td>
                      </tr>
                      <tr>
                        <td>L</td>
                        <td>10-12</td>
                        <td>37"-39"</td>
                        <td>29"-30"</td>
                      </tr>
                      <tr>
                        <td>XL</td>
                        <td>14-16</td>
                        <td>40"-42"</td>
                        <td>31"-32"</td>
                      </tr>
                      <tr>
                        <td>XXL</td>
                        <td>16-18</td>
                        <td>42"-43"</td>
                        <td>33"-34"</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              {% when 'Sweaters + Sweatshirts' %}
                <p><strong>Fit: sweatshirts run true to size for an oversized fit.</strong></p>
                <div class="size-chart-table">
                  <table class="t-caption">
                    <thead>
                      <tr>
                        <th colspan="3">Sizes</th>
                        <th>US/CAN</th>
                        <th>BUST</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>XS</td>
                        <td>0-2</td>
                        <td>30"-31"</td>
                      </tr>
                      <tr>
                        <td>S</td>
                        <td>2-4</td>
                        <td>31"-32"</td>
                      </tr>
                      <tr>
                        <td>M</td>
                        <td>6-8</td>
                        <td>34"-35"</td>
                      </tr>
                      <tr>
                        <td>L</td>
                        <td>10-12</td>
                        <td>35"-36"</td>
                      </tr>
                      <tr>
                        <td>XL</td>
                        <td>14-16</td>
                        <td>37"-38"</td>
                      </tr>
                      <tr>
                        <td>XXL</td>
                        <td>16-18</td>
                        <td>39"-40"</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              {% when 'Tops' %}
                <div class="size-chart-table">
                  <table class="t-caption">
                    <thead>
                      <tr>
                        <th colspan="3">Sizes</th>
                        <th>US/CAN</th>
                        <th>BUST</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>XS</td>
                        <td>0-2</td>
                        <td>31"-32"</td>
                      </tr>
                      <tr>
                        <td>S</td>
                        <td>2-4</td>
                        <td>33"-34"</td>
                      </tr>
                      <tr>
                        <td>M</td>
                        <td>6-8</td>
                        <td>35"-36"</td>
                      </tr>
                      <tr>
                        <td>L</td>
                        <td>10-12</td>
                        <td>36"-37"</td>
                      </tr>
                      <tr>
                        <td>XL</td>
                        <td>14-16</td>
                        <td>37"-38"</td>
                      </tr>
                      <tr>
                        <td>XXL</td>
                        <td>16-18</td>
                        <td>38"-39"</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              {% when 'Bottoms' %}
                <div class="size-chart-table">
                  <table class="t-caption">
                    <thead>
                      <tr>
                        <th colspan="3">Sizes</th>
                        <th>US/CAN</th>
                        <th>WAIST</th>
                        <th>PANT INSEAM</th>
                        <th>HIPS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>XS</td>
                        <td>0-2</td>
                        <td>24"</td>
                        <td>28"</td>
                        <td>34"-35"</td>
                      </tr>
                      <tr>
                        <td>S</td>
                        <td>2-4</td>
                        <td>25"-26"</td>
                        <td>29"-30"</td>
                        <td>36"-37"</td>
                      </tr>
                      <tr>
                        <td>M</td>
                        <td>6-8</td>
                        <td>26"-27"</td>
                        <td>30"-31"</td>
                        <td>38"-39"</td>
                      </tr>
                      <tr>
                        <td>L</td>
                        <td>10-12</td>
                        <td>28"-30"</td>
                        <td>31"-31.5"</td>
                        <td>39"-40"</td>
                      </tr>
                      <tr>
                        <td>XL</td>
                        <td>14-16</td>
                        <td>30"-32"</td>
                        <td>31.5"-32"</td>
                        <td>41"-42"</td>
                      </tr>
                      <tr>
                        <td>XXL</td>
                        <td>16-18</td>
                        <td>33"-34"</td>
                        <td>32"</td>
                        <td>42"-43"</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            {% endcase %}
            </div>
          {% endfor %}
        </div>

        <div class="content-block">
          <h3 class="t-b-1">Returns / Exchanges</h3>
          <p class="cr-subdued">Not sure about your size? We offer free exchanges (on domestic orders) within 30 days of your purchase so you can shop with ease of mind.</p>
          <a class="btn-underline" href="https://yllwthelabel.com/pages/contact-us" target="_blank">Learn More</a>
        </div>
      </div>
      {%comment%}
      <div class="size-guide-content-right">
        <ul class="size-guide-tabs user-select-disable g-flex">
          <li class="active">
            <button 
              class="t-link" 
              data-size-chart-tabs-trigger="Size Chart">
            Size Chart</button>
          </li>
          <li>
            <button 
              class="t-link" 
              data-size-chart-tabs-trigger="How To">
            How to Measure</button>
          </li>
        </ul>
        <div class="active" data-size-chart-tabs="Size Chart">
          <div id="sizechart" class="tabcontent">
            <div class="tab-wapper tab-wapper-table">
              <ul class="size-guide-unit-tabs user-select-disable g-flex">
                <li class="active">
                  <button 
                    class="t-caption" 
                    data-size-chart-tabs-trigger="Unit IN">
                  IN</button>
                </li>
                <li>
                  <button 
                    class="t-caption" 
                    data-size-chart-tabs-trigger="Unit CM">
                  CM</button>
                </li>
              </ul>

              <div class="active" data-size-chart-tabs="Unit IN">
                <div class="size-chart-table">
                  <table class="t-caption">
                    <thead>
                      <tr>
                        <th colspan="3">Sizes (US)</th>
                        <th>Bust</th>
                        <th>Waist</th>
                        <th>Hip</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>0-2</td>
                        <td>XS</td>
                        <td>XS/S</td>
                        <td>32</td>
                        <td>25</td>
                        <td>35</td>
                      </tr>
                      <tr>
                        <td>0-2</td>
                        <td>XS</td>
                        <td>XS/S</td>
                        <td>33</td>
                        <td>26</td>
                        <td>36</td>
                      </tr>
                      <tr>
                        <td>4-6</td>
                        <td>S</td>
                        <td>XS/S</td>
                        <td>34</td>
                        <td>27</td>
                        <td>37</td>
                      </tr>
                      <tr>
                        <td>4-6</td>
                        <td>S</td>
                        <td>XS/S</td>
                        <td>35</td>
                        <td>28</td>
                        <td>38</td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td>M</td>
                        <td>M</td>
                        <td>36</td>
                        <td>29</td>
                        <td>39</td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td>M</td>
                        <td>M</td>
                        <td>37</td>
                        <td>30</td>
                        <td>40</td>
                      </tr>
                      <tr>
                        <td>10-12</td>
                        <td>L</td>
                        <td>L/XL</td>
                        <td>38</td>
                        <td>31</td>
                        <td>41</td>
                      </tr>
                      <tr>
                        <td>10-12</td>
                        <td>L</td>
                        <td>L/XL</td>
                        <td>39</td>
                        <td>32</td>
                        <td>42</td>
                      </tr>
                      <tr>
                        <td>14</td>
                        <td>XL</td>
                        <td>L/XL</td>
                        <td>41-42</td>
                        <td>34-35</td>
                        <td>43-44</td>
                      </tr>
                      <tr>
                        <td>16</td>
                        <td></td>
                        <td>1X</td>
                        <td>43-44</td>
                        <td>36-37</td>
                        <td>46-47</td>
                      </tr>
                      <tr>
                        <td>18-20</td>
                        <td></td>
                        <td>2X</td>
                        <td>45-46</td>
                        <td>38-39</td>
                        <td>48-49</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              {%comment%}
              <div data-size-chart-tabs="Unit CM">
                <div class="size-chart-table">
                  <table class="t-caption">
                    <thead>
                      <tr>
                        <th colspan="3">Sizes (US)</th>
                        <th>Bust</th>
                        <th>Waist</th>
                        <th>Hip</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>0-2</td>
                        <td>XS</td>
                        <td>XS/S</td>
                        <td>81.28</td>
                        <td>63.5</td>
                        <td>88.9</td>
                      </tr>
                      <tr>
                        <td>0-2</td>
                        <td>XS</td>
                        <td>XS/S</td>
                        <td>83.82</td>
                        <td>66.04</td>
                        <td>91.44</td>
                      </tr>
                      <tr>
                        <td>4-6</td>
                        <td>S</td>
                        <td>XS/S</td>
                        <td>86.36</td>
                        <td>68.58</td>
                        <td>93.98</td>
                      </tr>
                      <tr>
                        <td>4-6</td>
                        <td>S</td>
                        <td>XS/S</td>
                        <td>88.9</td>
                        <td>71.12</td>
                        <td>96.52</td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td>M</td>
                        <td>M</td>
                        <td>91.44</td>
                        <td>73.66</td>
                        <td>99.06</td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td>M</td>
                        <td>M</td>
                        <td>93.98</td>
                        <td>50.8</td>
                        <td>101.6</td>
                      </tr>
                      <tr>
                        <td>10-12</td>
                        <td>L</td>
                        <td>L/XL</td>
                        <td>96.52</td>
                        <td>78.74</td>
                        <td>104.14</td>
                      </tr>
                      <tr>
                        <td>10-12</td>
                        <td>L</td>
                        <td>L/XL</td>
                        <td>99.06</td>
                        <td>81.28</td>
                        <td>106.68</td>
                      </tr>
                      <tr>
                        <td>14</td>
                        <td>XL</td>
                        <td>L/XL</td>
                        <td>104.14-106.68</td>
                        <td>86.36-88.9</td>
                        <td>109.22-111.76</td>
                      </tr>
                      <tr>
                        <td>16</td>
                        <td></td>
                        <td>1X</td>
                        <td>109.22-111.76</td>
                        <td>91.44-93.98</td>
                        <td>116.84-119.38</td>
                      </tr>
                      <tr>
                        <td>18-20</td>
                        <td></td>
                        <td>2X</td>
                        <td>114.3-116.84</td>
                        <td>96.52-99.06</td>
                        <td>121.92-124.46</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <p class="t-caption">*Note: Refer to the product you are on to determine what size category is applicable. eg: Sizing can be S or XS / S</p>
            </div>
          </div>
        </div>

        <div data-size-chart-tabs="How To">
          {% for category in category_list %}
            <div 
              class="fit-how-to cr-subdued 
              {% if current_u_size_category contains category %} active{% elsif current_u_size_category == nil and forloop.index == 1 %}active{% endif %}"
              data-fit="{{ category }}">
              {% case category %}
                {% when 'Tops — Fitted' %}
                  <img src="{{ 'product-size-tops-fitted.png' | asset_url }}" alt="size chart: {{category}}">
                  <h4>Bust</h4>
                  <p>Measure around the fullest part of your chest, keeping tape horizontal.</p>
                  <h4>Waist</h4>
                  <p>Measure around your natural waistline and keep the tape comfortably loose and horizontal.</p>
                  <h4>Hip</h4>
                  <p>Measure around the fullest part of your hips, keeping tape horizontal.</p>

                {% when 'Tops — Easy' %}
                  <img src="{{ 'product-size-tops-easy.png' | asset_url }}" alt="size chart: {{category}}">
                  <h4>Bust</h4>
                  <p>Measure around the fullest part of your chest, keeping tape horizontal.</p>
                  <h4>Waist</h4>
                  <p>Measure around your natural waistline and keep the tape comfortably loose and horizontal</p>
                  <h4>Hip</h4>
                  <p>Measure around the fullest part of your hips, keeping tape horizontal.</p>

                {% when 'Tops — Oversized' %}
                  <img src="{{ 'product-size-tops-oversized.png' | asset_url }}" alt="size chart: {{category}}">
                  <h4>Bust</h4>
                  <p>Measure around the fullest part of your chest, keeping tape horizontal</p>
                  <h4>Waist</h4>
                  <p>Measure around your natural waistline and keep the tape comfortably loose and horizontal</p>
                  <h4>Hip</h4>
                  <p>Measure around the fullest part of your hips, keeping tape horizontal.</p>

                {% when 'Bottoms — High rise' %}
                  <img src="{{ 'product-size-bottoms-high-rise.png' | asset_url }}" alt="size chart: {{category}}">
                  <h4>Waist</h4>
                  <p>Measure around your natural waistline and keep the tape comfortably loose and horizontal</p>
                  <h4>Hip</h4>
                  <p>Measure around the fullest part of your hips, keeping tape horizontal.</p>

                {% when 'Bottoms — Mid rise' %}
                  <img src="{{ 'product-size-bottoms-mid-rise.png' | asset_url }}" alt="size chart: {{category}}">
                  <h4>Waist</h4>
                  <p>Measure around your natural waistline and keep the tape comfortably loose and horizontal</p>
                  <h4>Hip</h4>
                  <p>Measure around the fullest part of your hips, keeping tape horizontal.</p>

                {% when 'Bottoms — Low rise' %}
                  <img src="{{ 'product-size-bottoms-low-rise.png' | asset_url }}" alt="size chart: {{category}}">
                  <h4>Waist</h4>
                  <p>Measure around your natural waistline and keep the tape comfortably loose and horizontal</p>
                  <h4>Hip</h4>
                  <p>Measure around the fullest part of your hips, keeping tape horizontal.</p>

                {% when 'Rompers + Jumpsuits — Fitted' %}
                  <img src="{{ 'product-size-rompers-fitted.png' | asset_url }}" alt="size chart: {{category}}">
                  <h4>Bust</h4>
                  <p>Measure around the fullest part of your chest, keeping tape horizontal</p>
                  <h4>Waist</h4>
                  <p>Measure around your natural waistline and keep the tape comfortably loose and horizontal</p>
                  <h4>Hip</h4>
                  <p>Measure around the fullest part of your hips, keeping tape horizontal.</p>

                {% when 'Rompers + Jumpsuits — Easy' %}
                  <img src="{{ 'product-size-rompers-easy.png' | asset_url }}" alt="size chart: {{category}}">
                  <h4>Bust</h4>
                  <p>Measure around the fullest part of your chest, keeping tape horizontal</p>
                  <h4>Waist</h4>
                  <p>Measure around your natural waistline and keep the tape comfortably loose and horizontal</p>
                  <h4>Hip</h4>
                  <p>Measure around the fullest part of your hips, keeping tape horizontal.</p>

                {% when 'Rompers + Jumpsuits — Oversized' %}
                  <img src="{{ 'product-size-dresses-oversized.png' | asset_url }}" alt="size chart: {{category}}">
                  <h4>Bust</h4>
                  <p>Measure around the fullest part of your chest, keeping tape horizontal</p>
                  <h4>Waist</h4>
                  <p>Measure around your natural waistline and keep the tape comfortably loose and horizontal</p>
                  <h4>Hip</h4>
                  <p>Measure around the fullest part of your hips, keeping tape horizontal.</p>

                {% when 'Dresses — Fitted' %}
                  <img src="{{ 'product-size-dresses-fitted.png' | asset_url }}" alt="size chart: {{category}}">
                  <h4>Bust</h4>
                  <p>Measure around the fullest part of your chest, keeping tape horizontal</p>
                  <h4>Waist</h4>
                  <p>Measure around your natural waistline and keep the tape comfortably loose and horizontal</p>
                  <h4>Hip</h4>
                  <p>Measure around the fullest part of your hips, keeping tape horizontal.</p>

                {% when 'Dresses — Easy' %}
                  <img src="{{ 'product-size-dresses-easy.png' | asset_url }}" alt="size chart: {{category}}">
                  <h4>Bust</h4>
                  <p>Measure around the fullest part of your chest, keeping tape horizontal</p>
                  <h4>Waist</h4>
                  <p>Measure around your natural waistline and keep the tape comfortably loose and horizontal</p>
                  <h4>Hip</h4>
                  <p>Measure around the fullest part of your hips, keeping tape horizontal.</p>

                {% when 'Dresses — Oversized' %}
                  <img src="{{ 'product-size-dresses-oversized.png' | asset_url }}" alt="size chart: {{category}}">
                  <h4>Bust</h4>
                  <p>Measure around the fullest part of your chest, keeping tape horizontal</p>
                  <h4>Waist</h4>
                  <p>Measure around your natural waistline and keep the tape comfortably loose and horizontal</p>
                  <h4>Hip</h4>
                  <p>Measure around the fullest part of your hips, keeping tape horizontal.</p>

                {% when 'Robes + Cardigans — Oversized' %}
                  <img src="{{ 'product-size-robes-oversized.png' | asset_url }}" alt="size chart: {{category}}">
                  <h4>Bust</h4>
                  <p>Measure around the fullest part of your chest, keeping tape horizontal</p>
                  <h4>Waist</h4>
                  <p>Measure around your natural waistline and keep the tape comfortably loose and horizontal</p>
                  <h4>Hip</h4>
                  <p>Measure around the fullest part of your hips, keeping tape horizontal.</p>
              {% endcase %}
            </div>
          {% endfor %}
        </div>
      </div>
      {%endcomment%}
  </div>
</div>
</div>
{{ 'size-guide.css' | asset_url | stylesheet_tag }}
<script src="{{ 'size-guide.js' | asset_url }}" defer="defer"></script>