<!doctype html>

<html class="no-js" lang="{{ shop.locale }}">
  <head><meta name="facebook-domain-verification" content="qp9pa6zdic0c430y7ltdtmxs38gdkw" />
    <!-- Hotjar Tracking Code for https://yllwthelabel.com/ -->
   <meta name="google-site-verification" content="pi3BTAMRQathaXskdEfFdSYrergVcZPgLIH9k688D38" />
  
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2169448,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="{{ settings.accent_color }}">

    <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '96x' }}" type="image/png">
    {%- endif -%}

    {% render 'social-meta-tags' %}
    {% render 'css-variables' %}

    {{ content_for_header }}

    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">

    <script>
      // This allows to expose several variables to the global scope, to be used in scripts
      window.theme = {
        pageType: {{ request.page_type | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
        productImageSize: {{ settings.product_image_size | json }},
        searchMode: {{ settings.search_mode | json }},
        showPageTransition: {{ settings.show_page_transition | json }},
        showElementStaggering: {{ settings.show_element_staggering | json }},
        showImageZooming: {{ settings.show_image_zooming | json }}
      };

      window.routes = {
        rootUrl: {{ routes.root_url | json }},
        cartUrl: {{ routes.cart_url | json }},
        cartAddUrl: {{ routes.cart_add_url | json }},
        cartChangeUrl: {{ routes.cart_change_url | json }},
        searchUrl: {{ routes.search_url | json }},
        productRecommendationsUrl: {{ routes.product_recommendations_url | json }}
      };

      window.languages = {
        cartAddNote: {{ 'cart.general.add_note' | t | json }},
        cartEditNote: {{ 'cart.general.edit_note' | t | json }},
        productImageLoadingError: {{ 'product.slideshow.image_loading_error' | t | json }},
        productFormAddToCart: {% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t | json }}{% else %}{{ 'product.form.add_to_cart' | t | json }}{% endif %},
        productFormUnavailable: {{ 'product.form.unavailable' | t | json }},
        productFormSoldOut: {{ 'product.form.sold_out' | t | json }},
        shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
        shippingEstimatorMoreResults: {{ 'cart.shipping_estimator.more_results_title' | t | json }},
        shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }}
      };

      window.lazySizesConfig = {
        loadHidden: false,
        hFac: 0.5,
        expFactor: 2,
        ricTimeout: 150,
        lazyClass: 'Image--lazyLoad',
        loadingClass: 'Image--lazyLoading',
        loadedClass: 'Image--lazyLoaded'
      };

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      document.documentElement.style.setProperty('--window-height', window.innerHeight + 'px');

      // We do a quick detection of some features (we could use Modernizr but for so little...)
      (function() {
        document.documentElement.className += ((window.CSS && window.CSS.supports('(position: sticky) or (position: -webkit-sticky)')) ? ' supports-sticky' : ' no-supports-sticky');
        document.documentElement.className += (window.matchMedia('(-moz-touch-enabled: 1), (hover: none)')).matches ? ' no-supports-hover' : ' supports-hover';
      }());
    </script>

    <script src="{{ 'lazysizes.min.js' | asset_url }}" async></script>

    {%- if template == 'customers/addresses' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}

    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?unknown=polyfill&features=fetch,Element.prototype.closest,Element.prototype.remove,Element.prototype.classList,Array.prototype.includes,Array.prototype.fill,Object.assign,CustomEvent,IntersectionObserver,IntersectionObserverEntry,URL" defer></script>
    <script src="{{ 'libs.min.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>

    <script>
      (function () {
        window.onpageshow = function() {
          if (window.theme.showPageTransition) {
            var pageTransition = document.querySelector('.PageTransition');

            if (pageTransition) {
              pageTransition.style.visibility = 'visible';
              pageTransition.style.opacity = '0';
            }
          }

          // When the page is loaded from the cache, we have to reload the cart content
          document.documentElement.dispatchEvent(new CustomEvent('cart:refresh', {
            bubbles: true
          }));
        };
      })();
    </script>

    {% render 'microdata-schema' %}
  {% include 'second-image-on-hover-init' %}
  
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  
  
{% render 'wsg-custom' %}
  {% render 'translation-lab-language-management' %}
  {% include 'scm-product-label-head' %}
</head>

  {%- capture classes -%}features--heading-{{ settings.heading_size }}{%- endcapture -%}

  {%- if settings.uppercase_heading -%}
    {%- assign classes = classes | append: ' features--heading-uppercase' -%}
  {%- endif -%}

  {%- if settings.product_show_price_on_hover -%}
    {%- assign classes = classes | append: ' features--show-price-on-hover' -%}
  {%- endif -%}

  {%- if settings.show_page_transition -%}
    {%- assign classes = classes | append: ' features--show-page-transition' -%}
  {%- endif -%}

  {%- if settings.show_button_transition -%}
    {%- assign classes = classes | append: ' features--show-button-transition' -%}
  {%- endif -%}

  {%- if settings.show_image_zooming -%}
    {%- assign classes = classes | append: ' features--show-image-zooming' -%}
  {%- endif -%}

  {%- if settings.show_element_staggering -%}
    {%- assign classes = classes | append: ' features--show-element-staggering' -%}
  {%- endif -%}

  <body class="prestige--v4 {{ classes }} {% if template.directory %}template-{{ template.directory | handle }}{% endif %} template-{{ template.name | handle }}">
    {% if template contains "product"%} {% render 'product-size-chart' %} {% endif %}
    <a class="PageSkipLink u-visually-hidden" href="#main">{{ 'header.navigation.skip_to_content' | t }}</a>
    <span class="LoadingBar"></span>
    <div class="PageOverlay"></div>

    {%- if settings.show_page_transition -%}
      <div class="PageTransition"></div>
    {%- endif -%}

    {% section 'popup' %}
    {% section 'sidebar-menu' %}

    {%- if template != 'cart' -%}
      {% render 'cart-drawer' %}
    {%- endif -%}

    <div class="PageContainer">
      {% section 'announcement' %}
      {% section 'header' %}

      <main id="main" role="main">
        {{ content_for_layout }}
      </main>

      {% section 'footer' %}
    </div>
  
  {% include 'wisepops-generated' %}

  {% render 'preorder-now' %}
  {% render 'rebuy-extensions' %}


    <!-- Navidium script start -->
    <style>
      .navidium-shipping-protection {
    display: none !important;
}
    </style>
    <script>
      const nvdShop = 'yellow-the-label.myshopify.com';
      const nvdShopCurrency = '{{ shop.money_format | strip_html }}';
      const nvdControls = {
        cartCounter: '.Header__CartCount', //cart item count
        subtotal: 'p.Cart__Total span', // cart subtotal amount
        lineAttribute: 'data-index', // cart item line
        cartItemNodes: '.rebuy-cart__flyout-item,.CartItem', // Cart items loop
        quantityMinus: 'qty_minus', // Quantity decrase button
        quantityPlus: 'qty_plus', // Quantity incrase button
        removeItem: 'cart_remove_class', // Cart item remove btn class
        qtybtnAttribute: 'data-href', // Cart item btn line update
        qtyrmvAttribute: 'href', // Cart item remove line update
        clickTriggers: '[href="/cart"],[href="/cart"] *,.ProductForm__AddToCart,.ProductForm__AddToCart *,.rebuy-cart__flyout-item-quantity-widget-button,.rebuy-cart__flyout-item-quantity-widget-button *,.rebuy-cart__flyout-item-remove,.rebuy-cart__flyout-item-remove *,.rebuy-product-actions .rebuy-button', // Onclick widget update
        changeTrigger: 'hhh', // Onchange widget update
  	    cursorControl: '.rebuy-cart__flyout-actions,.Cart__Checkout,.nvd-mini', // Disabled/Enabled cursor pointer event
        onLoadTrigger: false, // window.onload nvd_init function call
        cartReload: false, // Cart reload for /cart page
        showConsoleMessage:false, // Console message show/hide
        trackWidget:false, // Track widget on realtime
        forceClick: true, // forceclick for onclickTrigger event
        nvdInject:{
          status:false, // Inject nvd-mini div
          parent:'parent_class', // parent class for nvd-mini div
          container:'checkout_button_div' // nvd-mini will added before this div/button
        }
      }      
    </script>
   <script  src="https://navidium-static-assets.s3.amazonaws.com/navidium-widgets/js/nvd-widget-c-v-n-1.js" defer></script>
    {% if template.name contains 'cart' %}
    <script>
      window.onload = ()=>{
        setTimeout(()=>{
          if(document.querySelector('.nvd-mini').innerHTML === ''){
            nvd_init();
          }
        },1500)
      }
    </script>
    {% endif %}
  <!-- End of Navidium script -->
  {%- comment -%} klaviyo added to cart event {%- endcomment -%}
    <script>
      window.addEventListener('load', function() {
      var _learnq = window._learnq || [];
      function addedToCart() {
        console.log("addedtocart");
        fetch(`${window.location.origin}/cart.js`)
        .then(res => res.clone().json().then(data => {
          var cart = {
            total_price: data.total_price/100,
            $value: data.total_price/100,
            total_discount: data.total_discount,
            original_total_price: data.original_total_price/100,
            items: data.items
          }
          if (item !== 'undefined') {
            cart = Object.assign(cart, item)
          }
          if (klAjax) {
              _learnq.push(['track', 'Added to Cart', cart]);
              klAjax = false;
            }
          console.log(_learnq);
          console.log(cart);
        }))
      };
      (function (ns, fetch) {
        ns.fetch = function() {
          const response = fetch.apply(this, arguments);
          response.then(res => {
            if (`${window.location.origin}/cart/add.js`
              .includes(res.url)) {
                addedToCart()
            }
          });
          return response
        }
      }(window, window.fetch));
      var klAjax = true;
      var atcButtons = document.querySelectorAll("form[action*='/cart/add'] button[type='submit']");
      for (var i = 0; i < atcButtons.length; i++) {
          atcButtons[i].addEventListener("click", function() {
            console.log("added to cart");
            console.log(item);
            if (klAjax) {
              _learnq.push(['track', 'Added to Cart', item]);
              klAjax = false;
            }
          })
      }
      });
    </script>
  </body>
</html>

<!-- Begin Shopify-Afterpay JavaScript Snippet (v1.0.12) -->
<script type="text/javascript">
// Overrides:
// var afterpay_min = 0.04;            // As per your Afterpay contract.
// var afterpay_max = 2000.00;         // As per your Afterpay contract.
// var afterpay_cbt_enabled = false;   // As per your Afterpay contract; change to true to display Cross-Border Trade artwork (for AU/NZ).
// var afterpay_logo_theme = 'colour'; // Can be 'colour', 'black' or 'white'.
// var afterpay_product_selector = '#product-price-selector';
// var afterpay_cart_integration_enabled = true;
// var afterpay_cart_static_selector = '#cart-subtotal-selector';

// Non-editable fields:
</script>
{% include 'sezzle-checkout-button' %}
